<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Naresh Chauhan/IdeaProject/com.selenium.udmey"><classes><class name="selenium.SeleniumTest"><methods><include name="getLaunchUrl"/></methods></class></classes></test></suite>